@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla&display=swap');

* {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
}

.container {
    padding: 1em 10em;
    /* border: 2px solid red; */
    /* margin: auto; */
}
/**
* Navigation
*/
nav {
    /* height: 4em; */
    /* border: 2px solid black; */
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* border: 2px solid black; */
    /* background: coral; */

    /* margin-top: 1em; */
}

nav img {
    height: 1em;
    justify-self: center;
    /* border: 2px dotted green; */
    align-self: center;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: baseline;
    justify-self: flex-end;
    /* border: 2px dotted green; */
    width: 25em;
    text-transform: uppercase;
}

.plans {
    border: 2px solid;
    padding: 1em;
    text-transform: uppercase;
}

nav ul li:last-child {    
    /* margin-top: 0; */
}

/* Intro  */
.intro {
    background: hsl(256, 26%, 20%);
    background-image:   
        url('/images/bg-pattern-intro-right-desktop.svg');
    color: #fff;
    /* height: 35em; */
}

.intro .container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid red; */
}

.intro_image .container {
    display: flex;
    justify-content: flex-end;
    /* width: 35em;
    height: 40em;
    justify-self: flex-end;
    margin-top: 3.5em; */
    margin-top: -32em;
}

.intro_image img {
    height: 40em;
}

.intro_description {
    padding-top: 6em;
    padding-bottom: 6em;
    /* margin-right: 1.9em; */
    /* height: 28em; */
    width: 36em;
    /* justify-self: center;
    align-self: center; */
}

h1 {
    font-size: 4em;
    margin-bottom: .5em;
    line-height: .8em;
}

.intro_description p {
    margin-bottom: .5em;
    line-height: 1.5em;
}

hr {
    width: 8em;
    margin-bottom: 4.5em;
}

.intro_description .plans {
    width: 8em;
    margin-top: 1.5em;
    text-align: center;
}

/*
* How we work
*/
.how-we-work_details {
    display: flex;
    justify-content: space-between;
}

.how-we-work_details div {
    width: 20em;
}